@charset "utf-8";
body {
	background-image: linear-gradient(45deg, #008000 10%, #ffd700 10%, #ffd700 20%, #008000 20%, #008000 30%, #ffd700 30%, #ffd700 40%, #008000 40%, #008000 50%, #008000 50%, #008000 60%, #ffd700 60%, #ffffff 70%, #008000 70%, #008000 80%, #ffd700 80%, #ffd700 90%, #008000 90%, #008000 100%);
background-size: 141.42px 141.42px;
	background-color:#008000;
	font-family:Arial, Tahoma, sans-serif;
	color: #ffd700;
}
h1 {
	color: #ffffff;
}
header {
	background-color: #0000ff;
	color: #ffffff;
	text-align: center;
	padding: 5px;
	width: 80%;
	margin-left: 10%;
}
#container {
	width: 100%;
}
main { 
	width: 80%;
	background-color: #0000ff;
	color: #ffffff;
	float: left;
	padding: 5px;
	margin-left: 10%;
}
footer {
	clear: both;
	background-color: #0000ff;
	color: #ffffff;
	text-align: center;
	margin-left: 10%;
	padding: 5px;
	font-size: 12pt;
	width: 80%;
}
nav {
	background-color: #ffffff;
	color: #ffffff;
	padding: 5px;
	width: 80%;
	float: left;
	margin-left: 10%;
	font-weight: bold;
}
nav ul {
	list-style: none;
}
nav ul li {
	float: left;
	text-align: center;
	padding: 5px;
}
nave ul li a:link, nav ul li a:visited {
	display: block;
	width: 100px;
	margin-right: 4px;
	color: #ffd700;
	padding: 2px 4px 2px 4px;
	background-color: #008000;
	text-decoration: none;
}
nav ul li a: hover {
	color: #ffffff;
	background-color: #0000ff;
}
table {
	color: #ffd700;
	background-color: #008000;
	width: 90%;
	border: 1px solid;
}
#I1 {
	font-size:24px;
}
#I2 {
	font-size:23px;
}
#I3	{
	font-size:22px;
}
#I4	{
	font-size:21px;
}
#I5	{
	font-size:20px;
}
#I6	{
	font-size:19px;
}
#I7	{
	font-size:18px;
}
.class1	{
text-decoration: underline double #ffd700;
text-underline-position: under;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}